@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,#11998e,#38ef7d);
    height: 100vh;
}
section{
    background: #fff;
    height: 600px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 33px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div > label{
    position: relative;
    font-family: 'Poppins';
    font-size: 20px;
}
div > input{
    padding: 10px;
    border: none;
    background: #141414;
    color: #fff;
}
button{
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: solid 1px #141414;
    color: #141414;
    background: #fff;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
    transition: 0.4s ease all;
}
button:hover{
    color: #fff;
    background: #141414;
    border: solid 1px #ffffff;
}
#lbl{
    width: 442px;
    text-align: center;  
    margin-top: 80px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins';
}
h1{
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font: 700 40px 'Poppins';
}